<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sahitya:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>





    <title>Attendee Information</title>
    </head>
    <body >

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/attendeePoints">Atendee Information</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Check-In  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/attendeePoints">Attendee Points  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/housePoints">House Points  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history"> History  </a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">

          <thead class = "thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Points </th>
              <th scope = "col"> House </th>
              <th scope = "col"> Workshop </th>
              <th scope = "col"> Modify </th>
            </tr>
          </thead>

          <% for(var i=0; i < memberResults.length; i++) { %>

          <tbody>

            <tr >
              <td>
                    <%= memberResults[i].Name %>
              </td>
              <td>
                  <%= memberResults[i].Points %>
              </td>
              <td>
                  <%= memberResults[i].House %>
              </td>
              <td>
                <%= memberResults[i].Workshop %>
              </td>
              <td>
                <a href="/modifyPointsForm/<%= memberResults[i].Name %>/<%= memberResults[i].Points %>/<%= memberResults[i].House %>"> <i class="far fa-edit">  </i></a>
              </td>

            </tr>
            <% } %>



          </tbody>
        </table>

        </div>







    </body>
</html>
