<!DOCTYPE html>
<html>
   <head>
      <% include reusableComponents/css.html %>
      <title>Attendee Points</title>
   </head>
   <% include reusableComponents/navbar.ejs %>
      <a class="navbar-brand" href="/Element/attendeePoints"> Attendee Points</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/Element/attendeeInfo"> Attendee Info</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Check-In </a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/events">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/history">History</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/workshop"> Workshops </a></li>
         </ul>
      </div>
   </nav>
   <body class = "darkMode">

  </div>
      <br>
      <form action="/Element/<%= searchType %>" method = "POST">
         <input type="text" placeholder=" Search Name" name="attendeeName">
         <button type="submit"><i class="fa fa-search"></i></button>
      </form>

    <% include reusableComponents/filter.ejs %>

      <div class="container h-100">
          <div class="column h-100 flex-column justify-content-center align-items-center">
            <% for(var i=0; i < memberResults.length; i++) { %>

              <div class="card shadow p-3 bg-dark2 rounded pointCard  " style="width: 80%;">
                  <div class="card-body bg-dark2">
                      <p class = "text-center bg-dark2"> <%- i + 1%> </p>
                      <h5 class="card-title text-center bg-dark2">   <%= memberResults[i].FirstName %> <%= memberResults[i].LastName %> </h5>
                      <p class="card-text text-center bg-dark2"> <%= memberResults[i].Points %> Points  </p>
                      <p class="card-text text-center bg-dark2"> <%= memberResults[i].House %> </p>
                  </div>
                  </div>
                  <br>
                  <% } %>

              </div>
          </div>

      </div>
   </body>
</html>
