<!DOCTYPE html>
<html>

<head>
    <% include reusableComponents/css.html %>
    <title>Attendee Information</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Attendee Info</a>
        <% include reusableComponents/navButton.html %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Check-In </a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/attendeePoints">Attendee Points</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/history">History</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/workshop"> Workshops </a></li>
          </ul>
        </div>

    </nav>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center ">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points </th>
                    <th scope="col"> House </th>
                    <th scope="col"> Workshop </th>
                    <th scope="col"> Modify </th>
                </tr>
            </thead>

            <br>
            <div class="search-container ">
               <form action="/Element/attendeeInfo" method = "POST">
                 <input type="text" placeholder=" Search Name" name="attendeeName">
                 <button type="submit"><i class="fa fa-search"></i></button>
               </form>
             </div>
             <br>

            <% for(var i=0; i < memberResults.length; i++) { %>
                <tbody>

                    <tr >
                        <td class="align-middle">
                            <%= memberResults[i].Name %>
                        </td>
                        <td class="align-middle">
                            <%= memberResults[i].Points %>
                        </td>
                        <td class="align-middle">
                            <%= memberResults[i].House %>
                        </td>
                        <td class="align-middle">
                            <%= memberResults[i].Workshop1 %> - <%= memberResults[i].Workshop1IsActive %>
                            <br>
                            <%= memberResults[i].Workshop2 %> - <%= memberResults[i].Workshop2IsActive %>
                            <br>
                            <%= memberResults[i].Workshop3 %> - <%= memberResults[i].Workshop3IsActive %>
                        </td>

                        <td>
                          <form action = "/modifyPointsForm" method="POST" class="col-12 text-center">
                            <div class="form-group text-center ">
                              <button type="submit" class="modifyButton"><i class="fas fa-edit"></i> </button>

                            </div>
                            <input type="hidden" class="form-control" name="tempName" value = "<%= memberResults[i].Name %>" placeholder="Name">
                            <input type="hidden" class="form-control" name = "points" value="<%= memberResults[i].Points %>" placeholder="Points">
                            <input type="hidden" class="form-control" name = "house" value="<%= memberResults[i].House %>"  placeholder="House">
                          </form>
                        </td>

                    </tr>
                    <% } %>
                </tbody>

        </table>
    </div>




</body>

</html>
