<!DOCTYPE html>
<html>
<head>
    <% include reusableComponents/css.html %>
        <title>History</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"> History</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Check-In </a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/attendeePoints">Attendee Points</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
            <li class="nav-item"><a class="nav-link" href="/Element/attendeeInfo"> Attendee Info</a></li>
          </ul>
        </div>

    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col"> House </th>
                    <th scope="col"> Time / Date </th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < historyResults.length; i++) { %>
                    <tr>
                        <td>
                            <%= historyResults[i].Name %>
                        </td>
                        <td>
                            <%= historyResults[i].Points %>
                        </td>
                        <td>
                            <%= historyResults[i].House %>
                        </td>
                        <td>
                          <%= historyResults[i].timeRecorded %> - <%= historyResults[i].dateRecorded %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
