<!DOCTYPE html>
<html>
   <head>
      <% include reusableComponents/css.html %>
      <title>House Points</title>
   </head>
   <body class = "darkMode">
      <% include reusableComponents/navbar.ejs %>
         <a class="navbar-brand" href="/Element/housePoints"> House Points </a>
         <% include reusableComponents/navButton.html %>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <% include reusableComponents/dropDownMenu.html %>
               <li class="nav-item"><a class="nav-link" href="/Element/schedule">Point System</a></li>
            </ul>
           
           
         </div>
     
      </nav>
      <img class="cardIMG responsive" src="https://cdn.glitch.com/4ab41f1c-3d7c-47ae-90cb-c10df786a969%2Fuvsase_main_horizontallogo.png?1558989671821" alt="Card image cap">
      <br><br>
      <div class="container h-100">
         <div class="column h-100 flex-column justify-content-center align-items-center">

           <% for(var i=0; i < houseResults.length; i++) { %>

                <%if (houseResults[i].Name == "Gryffindor") { %>
                  <div class="card shadow p-3 bg-dark3 rounded gryffindorBorder" style="width: 80%;">
               <img class = "img-fluid bg-dark3" src="https://vignette.wikia.nocookie.net/harrypotter/images/b/b1/Gryffindor_ClearBG.png/revision/latest/scale-to-width-down/350?cb=20190222162949" alt="Card image cap">
               <% } %>
               <%if (houseResults[i].Name == "Ravenclaw") { %>
                 <div class="card shadow p-3 bg-dark3 rounded ravenclawBorder" style="width: 80%;">
              <img class = " img-fluid bg-dark3" src="https://vignette.wikia.nocookie.net/harrypotter/images/4/4e/RavenclawCrest.png/revision/latest/scale-to-width-down/700?cb=20161020182442" alt="Card image cap">
              <% } %>
              <%if (houseResults[i].Name == "Hufflepuff") { %>
                <div class="card shadow p-3 bg-dark3 rounded hufflepuffBorder" style="width: 80%;">
             <img class = " img-fluid bg-dark3" src="https://vignette.wikia.nocookie.net/harrypotter/images/0/06/Hufflepuff_ClearBG.png/revision/latest/scale-to-width-down/700?cb=20161020182518" alt="Card image cap">
             <% } %>
             <%if (houseResults[i].Name == "Slytherin") { %>
               <div class="card shadow p-3 bg-dark3 rounded slytherinBorder" style="width: 80%;">
            <img class = " img-fluid bg-dark3" src="https://vignette.wikia.nocookie.net/harrypotter/images/0/00/Slytherin_ClearBG.png/revision/latest/scale-to-width-down/700?cb=20161020182557" alt="Card image cap">
            <% } %>

               <div class="card-body bg-dark3">
                 <%if (houseResults[i].Name == "Gryffindor") { %>
                  <h5 class="card-title text-center bg-dark3 gryffindor ">   <%= houseResults[i].Name %></h5>
                  <p class="card-text text-center bg-dark3 gryffindor "> <%= houseResults[i].Points %> </p>
                  <% } %>
                  <%if (houseResults[i].Name == "Ravenclaw") { %>
                   <h5 class="card-title text-center bg-dark3 ravenclaw">   <%= houseResults[i].Name %></h5>
                   <p class="card-text text-center bg-dark3 ravenclaw "> <%= houseResults[i].Points %> </p>
                   <% } %>
                   <%if (houseResults[i].Name == "Hufflepuff") { %>
                    <h5 class="card-title text-center bg-dark3 hufflepuff">   <%= houseResults[i].Name %></h5>
                    <p class="card-text text-center bg-dark3 hufflepuff "> <%= houseResults[i].Points %> </p>
                    <% } %>
                    <%if (houseResults[i].Name == "Slytherin") { %>
                     <h5 class="card-title text-center bg-dark3 slytherin">   <%= houseResults[i].Name %></h5>
                     <p class="card-text text-center bg-dark3 slytherin "> <%= houseResults[i].Points %> </p>
                     <% } %>
               </div>
            </div>
            <br>
            <% } %>


         </div>
      </div>
   </body>
</html>
