<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">


        <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sahitya:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />







        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <title>House Points</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/attendeePoints">House Points</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Check-In  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/attendeePoints">Attendee Points  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">History  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/attendeeInfo"> Attendee Information</a>
                    </li>
                </ul>
            </div>
        </nav>



              <div class="pricing pricing--sonam">
                  <div class="pricing__item">
                      <h3 class=""><%= houseResults[0].Name %></h3>
                      <h3 class=""><%= houseResults[0].Points %></h3>

                  </div>
              </div>

              <div class="pricing pricing--sonam2">
                  <div class="pricing__item">
                      <h3 class=""><%= houseResults[1].Name %></h3>
                      <h3 class=""><%= houseResults[1].Points %></h3>
                  </div>
              </div>

              <div class="pricing pricing--sonam3">
                  <div class="pricing__item">
                      <h3 class=""><%= houseResults[2].Name %></h3>
                      <h3 class=""><%= houseResults[2].Points %></h3>
                  </div>
              </div>

              <div class="pricing pricing--sonam4">
                  <div class="pricing__item">
                      <h3 class=""><%= houseResults[3].Name %></h3>
                      <h3 class=""><%= houseResults[3].Points %></h3>
                  </div>
              </div>









    </body>
</html>
