<!DOCTYPE html>
<html>
   <head>
      <% include reusableComponents/css.html %>
      <title>House Points</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/Element/housePoints"> House Points </a>
         <% include reusableComponents/navButton.html %>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item"><a class="nav-link" href="/Element/attendeeInfo"> Attendee Info</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/attendeePoints">Attendee Points</a></li>
               <li class="nav-item"><a class="nav-link" href="/">Check-In </a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/history">History</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/workshop"> Workshops </a></li>
            </ul>
         </div>
      </nav>

      <br><br>
      <div class="container h-100 ">
          <div class="column h-100 flex-column justify-content-center align-items-center">
              <div class="card shadow p-3 bg-white rounded " style="width: 80%;">
                  <img class = "logo img-fluid " src="https://vignette.wikia.nocookie.net/harrypotter/images/b/b1/Gryffindor_ClearBG.png/revision/latest/scale-to-width-down/350?cb=20190222162949" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title text-center">   <%= houseResults[0].Name %></h5>
                      <p class="card-text text-center"> <%= houseResults[0].Points %> </p>
                  </div>
                  </div>
                  <br>
                  <div class="card shadow p-3 bg-white rounded " style="width: 80%;">
                      <img class = "logo img-fluid " src="https://vignette.wikia.nocookie.net/harrypotter/images/0/06/Hufflepuff_ClearBG.png/revision/latest/scale-to-width-down/700?cb=20161020182518" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title text-center">   <%= houseResults[1].Name %></h5>
                          <p class="card-text text-center"> <%= houseResults[1].Points %> </p>
                      </div>
                      </div>

                      <div class="card shadow p-3 bg-white rounded " style="width: 80%;">
                          <img class = "logo img-fluid " src="https://vignette.wikia.nocookie.net/harrypotter/images/4/4e/RavenclawCrest.png/revision/latest/scale-to-width-down/700?cb=20161020182442" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title text-center">   <%= houseResults[2].Name %></h5>
                              <p class="card-text text-center"> <%= houseResults[2].Points %> </p>
                          </div>
                          </div>

                          <div class="card shadow p-3 bg-white rounded " style="width: 80%;">
                              <img class = "logo img-fluid " src="https://vignette.wikia.nocookie.net/harrypotter/images/0/00/Slytherin_ClearBG.png/revision/latest/scale-to-width-down/700?cb=20161020182557" alt="Card image cap">
                              <div class="card-body">
                                  <h5 class="card-title text-center">   <%= houseResults[3].Name %></h5>
                                  <p class="card-text text-center"> <%= houseResults[3].Points %> </p>
                              </div>
                              </div>
              </div>

          </div>







   </body>
</html>
