<!DOCTYPE html>
<html>
   <head>
      <% include reusableComponents/css.html %>
      <script type="text/javascript" src="instascan.js"></script>
      <title>Check-In</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/">Check-In</a>
         <% include reusableComponents/navButton.html %>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item"><a class="nav-link" href="/Element/attendeeInfo"> Attendee Info</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/attendeePoints">Attendee Points</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/history">History</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/workshop"> Workshops </a></li>
            </ul>
         </div>
      </nav>
      <div class="pricing pricing--norbu">
         <div class="pricing__item">
            <br>
            <img class="cardIMG" src="images/uvsase_main_logomark.png" alt="Card image cap">
            <br><br>
            <div class="dropdown">
               <button id = "workshopButton" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Select Workshop
               </button>
               <br><br>
               <div id = "workShopMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Photography</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Learning</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Leadership</a>
               </div>
            </div>
            <video width="330" height="250" playsinline controls="true" id="preview"></video>
         </div>
      </div>
      <div class="d-flex justify-content-center">
         <p id="name"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="score"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="check"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="workshop1"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="workshop2"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="workshop3"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="house"> </p>
      </div>
      <script type="text/javascript">
         var selectedWorkshop;
         $("#workShopMenu a").click(function(e){
           e.preventDefault();

           //Stores selected workshop text into selText variable
            selectedWorkshop = $(this).text();
           //Sets button text to selected workshop
           $("#workshopButton").text(selectedWorkshop);
         });

         function myFunction() {
         console.log("Workshop selected is" + selectedWorkshop);
         }

             let scanner = new Instascan.Scanner({
                 video: document.getElementById('preview'),
                 mirror: false,
                 backgroundScan: false,
                 scanPeriod: 3,
             });
             scanner.addListener('scan', function(content) {

                 let data = JSON.parse(content);

                 let matchFound = false;
                 let i = 0;
                 <% for(i=0; i < result.length; i++) { %>
                   //console.log(<%= i %> + " < " + <%= result.length %> );

                   console.log("Comparing <%= result[i].Name %> with " + data['Name'] )
                 if ("<%= result[i].Name %>" == data['Name'] && matchFound != true) {


                     //if ("<%= result[i].Workshop1 %>" == data['Workshop1']) {
                     if (selectedWorkshop == data['Workshop1'] || selectedWorkshop == data['Workshop2']) {
                       console.log("Workshops match!");
                         document.getElementById("name").innerHTML = "Name : " + data['Name'];
                         document.getElementById("score").innerHTML = "Added " + data['Points'] + " points to " + " attendee and " + data['House'];
                         document.getElementById("check").innerHTML = "Checked into " + selectedWorkshop + " workshop";
                         //document.getElementById("workshop1").innerHTML = "Workshop1 : " + data['Workshop1'];
                         //document.getElementById("workshop2").innerHTML = "Workshop2 : " + data['Workshop2'];
                         //document.getElementById("workshop3").innerHTML = "Workshop3 : " + data['Workshop3'];



                         var xhttp = new XMLHttpRequest();
                         xhttp.onreadystatechange = function() {
                             if (this.readyState == 4 && this.status == 200) {
                                 console.log("/increasePoints request has been sent!");
                             }
                         };

                         xhttp.open("POST", "/increasePoints/" + data['Name'] + "/" + data['Points'] + "/" + data['House'] + "/noRedirect", true);
                         xhttp.send();

                         var xhttp2 = new XMLHttpRequest();
                         xhttp2.onreadystatechange = function() {
                             if (this.readyState == 4 && this.status == 200) {
                                 console.log("/workshop request has been sent!");
                             }
                         };
                         console.log("Sending " + "/Workshop/" + data['Name'] + "/" + selectedWorkshop)
                         xhttp2.open("POST", "/Workshop/" + data['Name'] + "/" + selectedWorkshop);
                         xhttp2.send();

                         return;

                     }
                 }
                 <% } %>



             });

             Instascan.Camera.getCameras().then(function(cameras) {
                 if (cameras.length > 0) {
                     scanner.start(cameras[0]);
                 } else {
                     console.error('No cameras found.');
                 }
             }).catch(function(e) {
                 console.error(e);
             });
      </script>
   </body>
</html>
